include ./pug/mixins

doctype html
//- mixin for reusable tour item component
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HTML-CSS-Master

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./style.css")
    body 
        div.tour-list-container
            div.tour-list
                +tourItem('./chemchemproject/images/img1.png','From $61',"Thailands Ayutthaya Temples Cruise from Bangkok", 4.8,12,9,61)
                +tourItem('./chemchemproject/images/img2.png','From $70', "FLoating Markets Day Trip from Bangkok",4.8,12,9,61)
                +tourItem('./chemchemproject/images/img3.png','From $60',"Bangkok Dinner Cruise on the Chao Phraya River",4.8,12,9,61)
